/* Qatar2022 font */

@font-face { font-family: Qatar2022; font-weight: bolder; src: url('./Qatar2022Font/Graphik-Arabic-Medium.otf'); } 
@font-face { font-family: Qatar2022; font-weight: bold; src: url('./Qatar2022Font/Qatar2022Arabic-Bold.ttf');}
@font-face { font-family: Qatar2022; font-weight: lighter; src: url('./Qatar2022Font/Qatar2022Arabic-Heavy.ttf');} 

body {
    font-family: Qatar2022, sans-serif;
    background-color: #eeeee4;
    padding: 0px;
    margin: 0px;
}

/* volet 5 */

.side5 {
    background-image: url('../images/side2.jfif');
    border-radius: 15px;
    width: 15%;
    height: 1139px ;
    float: right;
    margin-top: 0;
    padding-top: 50px;
    color : white;
    padding-left: 20px;
    
}
/* les images du volet 5 */

.side5 img {
width: 80px;
height: 80px;

}    
/* volet 2 */
.side2 {
    background-image: url('../images/side2.jfif');
    border-radius: 15px;
    width: 15%;
    float: left;
    color: rgb(255, 255, 255);
    font-size: 30px;
    height: 1188px ;
    
}
/* Les drapeaux du volet 2 */
.side2 img {
    width: 150px;
    height: 100px;
    cursor: pointer;
}

.side2 div {
    padding-left: 30px;
    padding-top: 40px;
}

.side2 div {
    padding-left: 30px;
}
/* volet 3 */

.side3 {
    width: 70%;
    margin-left: 15%;
    background-color: #eeeee4;;
    padding-left: 50px;
}
/* Les images des joueurs dans le volet 3 */
.side3 img {
    margin-bottom: 30px;
    height: 130px;
    width: 150px;
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.side3 p {
    border: 1px #eeeee4 none;
    font-family: Qatar2022 ,sans-serif;
    font-size: 30px;
    padding-left: 60px;
    width: 900px;
    height: 35px;
    background-color: #eeeee4;
    margin-left: -13.1%;
}

/* volet 4 */

.side4 {
    padding-top: 40px;
    background-color: #eeeee4;
    margin-left: 16%;
    width: 68%;

}
/* les tableaux des joueurs dans le volet 4 */

td{
    height: 5px;
    width: 3px;
}

table,th,thead,tr,tbody,td{
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}
tbody,th,td,tr{
    text-align: center;
    height: auto;
    width: auto;

}
/* Les drapeaux dans les tableaux dans le volet 4 */
#flag,#p-flag,#b-flag,#u-flag,#a-flag,#f-flag{
    height:15px;
     width:18px;   
}

tr:nth-child(even){background-color: #f2f2f2;}

/* bouttons qui cache le volet 2 */
#left{
    padding-top: 10px;
    padding-right: 25%;

}

#left .left {
    background-color: #630E2B;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
  }
  
#left .left:not(:disabled):hover,
#left .left:not(:disabled):focus {
    outline: 0;
    background: #630E2B;
    box-shadow: 0 0 0 2px #C9867E;
  }
  
#left .left:disabled {
    cursor: not-allowed;
  }
/* bouttons qui cache le volet 5 */
#right{
    padding-top: 10px;
    padding-left: 25%;
    margin-bottom: 2px;
}

#right .right {
    padding-top: 10px;
    padding-left: 25%;
    margin-bottom: 2px;
    background-color: #630E2B;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
}

#right .right:not(:disabled):hover,
#right .right:not(:disabled):focus {
    outline: 0;
    background: #630E2B;
    box-shadow: 0 0 0 2px #C9867E;
}

#right.right:disabled {
  cursor: not-allowed;
}

/* volet 1 */
header {
    background-color: #eeeee4;
}

/* les menus dans volet 1*/
header ul {
    font-weight: bolder;
    font-family: Qatar2022, Cambria, Cochin, sans-serif;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #630E2B;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

header li {
    float: left;
}
header li a,
.dropbtn {
    display: inline-block;
    color: #FBF7F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

header li a:hover,
.dropdown:hover .dropbtn {
    background-color: #C9867E;
}

header li.dropdown {
    display: inline-block;
}
/* les menus dans volet 1*/
header .sous-menu {
    display: none;
    position: absolute;
    background-color: #F5CBB9;
    min-width: 160px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header .sous-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 15px;
}

header .sous-menu a:hover {
    background-color: #C9867E;
}

header .dropdown:hover .sous-menu {
    display: block;
}
/* logo du volet 1*/
header #img2 {
    width: auto;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* les logos des marques dans le volet 1*/
header #img1 {
    width: 100px;
    height: 60px;
    display: block;  
    padding-left: 100px;
    padding-top: 10px;
    float: left;
}
/* la section d'horaires des matchs */
#matchcontainer #matchs {
    margin-top: 17px;
    width: 70%;
    min-height: calc(100% * 0.5255905511811024);
    height: calc(100% * 0.5255905511811024);
    max-height: calc(100% * 0.5255905511811024);
}

#matchcontainer #matchs h1 {
    font-weight: 700;
    font-size: 24px;
    user-select: none;
    margin-left: 60.5%;
}

#matchcontainer #matchs h2 {
    width: 70%;
    text-align: center;
}

#matchcontainer #matchs a {
    width: 70%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #AF375D;
    user-select: none;
    text-decoration: none;
}

#matchcontainer #matchs a:hover {
    text-decoration: underline;
}


#matchcontainer #matchs #matchesScheduleContainer {
    width: 70%;
    min-height: 100%;
    height: 350px;
    max-height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    align-items: relative;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice {
    width: 50%;
    height: calc(100% / 5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    user-select: none;
    padding: 0 60px;
    border-radius: 30px;
    border-right: 15%;
    float: left;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice:hover {
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.02);
    filter: drop-shadow(0px 0px 20px rgba(118, 118, 118, 0.5));
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_left {
    min-width: 180px;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_right {
    min-width: 247px;
    left: 10px;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_left p,
#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_right p,
#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_right p a {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.01em;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_right p a {
    color: #AF375D;
    text-decoration: none;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_right p a:hover {
    color: var(--secondary_clr);
    text-decoration: underline;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle {
    min-width: 472px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .left {
    justify-content: right;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .right {
    justify-content: left;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .left,
#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .right {
    display: flex;
    align-items: center;
    gap: 50px;
    min-width: 178px;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .left h3,
#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .right h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.01em;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .left img,
#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#matchcontainer #matchs #matchesScheduleContainer .match_slice .slice_middle .middle span {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.01em;
}
/* la page d'acceuil */
#accslide .mySlides {
    display: none;
  }
  /* les images des stades dans la page d'acceuil */
#accslide img {
    vertical-align: middle;
    border-radius: 15px;
    margin-top: 1px;
    min-width: 100px;
  }
#accslide .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  /* les bouttons Next et previous pour changer les images */
#accslide .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position du bouttons next */
#accslide .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#accslide .prev:hover,
#accslide .next:hover {background-color: rgba(0, 0, 0, 0.8);}
/* Le texte du nom du stade */
#accslide .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: #000; 
    opacity: 0.5;
    width: 776px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 7px;
}
/* texte du nombre de page */
#accslide .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* les points qui indique la position du slide actuel */
#accslide .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
#accslide .active,
.dot:hover {
    background-color: #111111;
}
/* controle la transition des images */
#accslide .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {
    opacity: .4
}
to {
    opacity: 1
}
}
@keyframes fade {
from {
    opacity: .4
}
to {
    opacity: 1
}
}